/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

.hfeed{
	margin: 0 auto;
	max-width: 1080px;
	padding: 2.5%;
	width: 100%
}

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}


.page-content,
.entry-content,
.entry-summary{
	margin: $base__space-unit 0 0;
	display:flex;
	flex-direction: row;
	text-align:center;
}


.type-post,.type-page{
	color: #fff;
	font-family: Exo Web,sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	text-align:center;
}

.site-content:before, .site-content:after{
	color: #0c0;
	font-family: FontAwesome;
	font-size: 125px;
	line-height: 125px;
	position: absolute;
	top: 300px;
}

.site-content:before {
	 content: "\f10d";
	left: 300px;
}

.site-content:after{
	 content: "\f10e";
	right: 300px;
}

.logo{
	text-align: center;
}

.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

// front page / index 

body{
	background-color:$background;
	padding: .5rem;

}

.site-content{
	margin: 0 auto;
	max-width: 1080px;
	padding: 0.5rem;
	width:100%;
}

.site-main{
	color:$text;
}

.site-branding{
	a img{
		padding-top: 3rem;
	}
}

@media (min-width: 620px){
		.entry-content p{
    	font-size: 1.75rem;
 
		}
		.entry-content, .type-post{
			font-size:1.6rem;
		}
		.site-branding{
			a img{
				width:500px;
			}
		}
	
		// about page//
		.page-id-107{
			.entry-content{
				font-size:1rem;
			}
		}

}